<div id="bg">
<div class="wrapper">
	<form class="form" action="/date" method="post">

          <strong> <h4>Issue Selection:</h4></strong>

        {{#issues}}
            <li>
                <input type="checkbox" name="check-box" value="{{id}}" /> <span>{{issue}}</span>

            </li>
        {{/issues}}

      <input type="submit" value="Next" class="button" />
    </form>
</div>
</div>