<br>
<h3 style="color: black">Thank you for booking to visit the Uber Driver Centre!!</h3><br>
 
{{#driver_info}} 
	<center>
		<div class="ref_info">
			 <h4>Mr {{name}} {{surname}}</h4>
			 <h4> YOur Ref No. is: <strong>{{ref_no}}</strong></h4>

			<h4>You booked to visit the centre on {{date}}</h4>
			<p></p>
		</div>
	</center>
{{/driver_info}}
