<!-- heading starts here -->

    <div id="bg">
  <h1>Pick Your Day</h1>
<div class="dark-placeholder">
  <form class="form">
  <p><strong>Calendar:</strong></p>
  <input class="topcoat-date-picker" type="date" name="poo">
</div>
 <input type="submit" value="Next" class="button" />
    </form>
  </div>
  
    </div>
<!-- about footer ends here -->