<div id="bg">
<div class="wrapper">
	<form class="form" action="/date" method="post">
          <strong> <h1>Issue Selection:</h1></strong>
        <li>
            <input type="checkbox" name="check-box" /> <span>Lost & found property</span>

        </li>
        <li>
            <input type="checkbox" name="check-box" /> <span>Upload some documentation</span>

        </li>
        <li>
            <input type="checkbox" name="check-box" /> <span>I Need a cunsultant to gather some info about UBER transportation</span>

        </li>

        <li>
            <input type="checkbox" name="check-box" /> <span>change a vehicle</span>

        </li>
      <input type="submit" value="Next" class="button" />
    </form>
</div>
</div>