<div class="wrapper">
        <H1>
            <p>Issues:</p>
        </H1>
    <ul>
        <form class="form">
            <li>
                <input type="checkbox" name="check-box" /> <span>Lost & found property</span>

            </li>
            <li>
                <input type="checkbox" name="check-box" /> <span>Upload some documentation</span>

            </li>
            <li>
                <input type="checkbox" name="check-box" /> <span>I need a cunsultant to gather some info about UBER transportation</span>

            </li>

            <li>
                <input type="checkbox" name="check-box" /> <span>Change a vehicle</span>

            </li>
           {{!--  <li>
                <input type="checkbox" name="check-box" /> <span>Specify your proble if none of the above doesn't fit your situation <strong>(not recommended)</strong></span>
            </li>
         --}}
            <input type="text" placeholder="your text lies up here" class="textbox" />
            <input type="submit" value="Next" class="button" />
        </form>
    </ul>
</div>