<div id="bg">
<div class="wrapper">
	<form class="form" action="/date" method="post">
<<<<<<< HEAD
          <strong> <h4>Issue Selection:</h4></strong>
=======
          <strong> <h1>Issue Selection:</h1></strong>
        <li>
            <input type="checkbox" name="check-box" /> <span>Lost & found property</span>
>>>>>>> 117b0c0f79361bd1be6a6c114b58d72009ab17ff

        {{#issues}}
            <li>
                <input type="checkbox" name="check-box" value="{{id}}" /> <span>{{issue}}</span>

            </li>
        {{/issues}}

      <input type="submit" value="Next" class="button" />
    </form>
</div>
</div>