<div id="bg">
<div class="wrapper">
	<form class="form" action="/step4_ref_no" method="post">

          <strong> <h1>Issue Selection:</h1></strong>
        <ul>
          {{#issues}}
              <li>
                  <input type="checkbox" name="issues" value="{{id}}"> <span>{{issue}}</span>

              </li>
          {{/issues}}
        </ul>
        
        <br/>
        	<h2>Pick Your Day</h2>
          {{!-- <p><strong>Calendar:</strong></p> --}}
          <input class="topcoat-date-picker" type="date" name="date" required>
          {{!-- </div> --}} <br/>
      <input type="submit" value="Next" class="button" />
    </form>
</div>

</div>



